@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
.bg-gradient-patches {
  background:ghostwhite 
              

}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --base-50: oklch(0.9843 0.0154 277.16);
  --base-100: oklch(0.967 0.0169 277.83);
  --base-200: oklch(0.9229 0.0216 277.79);
  --base-300: oklch(0.8714 0.0246 276.98);
  --base-400: oklch(0.7057 0.0277 277.2);
  --base-500: oklch(0.5516 0.03 277.49);
  --base-600: oklch(0.4434 0.0293 276.11);
  --base-700: oklch(0.3711 0.027 276.46);
  --base-800: oklch(0.2754 0.0231 276.29);
  --base-900: oklch(0.21 0.0216 277.56);
  --base-950: oklch(0.1371 0.02 277.17);
  --base-1000: oklch(0.0895 0.0185 276.45);

  --primary-50: oklch(0.9726 0.0107 297.18);
  --primary-100: oklch(0.9451 0.0207 297.55);
  --primary-200: oklch(0.897 0.0405 296.44);
  --primary-300: oklch(0.8156 0.0782 296.59);
  --primary-400: oklch(0.7053 0.13 296.36);
  --primary-500: oklch(0.6112 0.1756 295.35);
  --primary-600: oklch(0.5451 0.1958 295.2);
  --primary-700: oklch(0.4742 0.1862 294.78);
  --primary-800: oklch(0.4335 0.1584 295.34);
  --primary-900: oklch(0.3804 0.1288 296.39);
  --primary-950: oklch(0.2851 0.099 293.83);
  --primary-1000: oklch(0.2209 0.0793 292.11);

  --secondary-50: oklch(0.9764 0.0862 187.29);
  --secondary-100: oklch(0.9538 0.0948 187.48);
  --secondary-200: oklch(0.9119 0.1207 187.38);
  --secondary-300: oklch(0.8577 0.1379 188.13);
  --secondary-400: oklch(0.7803 0.1552 189.91);
  --secondary-500: oklch(0.7071 0.1681 191.05);
  --secondary-600: oklch(0.6026 0.1638 193.59);
  --secondary-700: oklch(0.5136 0.1508 195.2);
  --secondary-800: oklch(0.4406 0.1293 196.85);
  --secondary-900: oklch(0.3893 0.1207 197.55);
  --secondary-950: oklch(0.2836 0.1121 200.19);
  --secondary-1000: oklch(0.215 0.1034 200.81);

  --background: var(--color-white);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-700);
  --primary-foreground: var(--color-white);
  --secondary: var(--secondary-50);
  --secondary-foreground: var(--color-black);
  --muted: var(--base-50);
  --muted-foreground: var(--base-600);
  --accent: var(--base-50);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-700);
  --chart-1: var(--primary-700);
  --chart-2: var(--secondary-50);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --radius: 0rem;
  --sidebar: var(--base-100);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-700);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-200);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-700);
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-950);
  --card-foreground: var(--base-200);
  --popover: var(--base-950);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-700);
  --primary-foreground: var(--color-white);
  --secondary: var(--secondary-50);
  --secondary-foreground: var(--color-black);
  --muted: var(--base-900);
  --muted-foreground: var(--base-400);
  --accent: var(--base-900);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-700);
  --chart-1: var(--primary-700);
  --chart-2: var(--secondary-50);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-700);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--primary-700);
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--primary-100);
  --color-chart-4: var(--secondary-300);
  --color-chart-3: var(--primary-300);
  --color-chart-2: var(--secondary-50);
  --color-chart-1: var(--primary-700);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, var(--primary-50), var(--primary-100));
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}
